{% extends "base.html" %}


{% block content %}

   <h2 class="messagediv">Map Editor : <span id="mapTitle">{{mapLinkData.mapName}}</span> </h2>

   <div class="row">
   <div class="col-md-1"></div>
    <div class="col-md-1">
      <button id="ptBtn" class="btn btn-default edit">Point</button><br>
      <button id="nodeBtn" class="btn btn-default edit">Node</button><br>
      <button id="pathBtn" class="btn btn-default edit">Path</button><br>
      <button id="cnxnBtn" class="btn btn-default edit">Connection</button><br>
      <button id="defBtn" class="btn btn-default edit">Default</button><br>
      <button id="delElBtn" class="btn btn-default edit">Delete Element</button>

    </div>


    <div class="col-md-8">
      <svg id="editorCanvas" xmlns="http://www.w3.org/2000/svg" width = "1000", height = "500" style="border:1px solid #000000"/>
    </div>


    <div class="col-md-1">
      <button id="clrBtn" class="btn btn-default edit">Clear</button><br>
      <button id="delPgBtn" class="btn btn-default edit">Delete Page</button><br>
      <button id="addPgBtn" class="btn btn-default edit">Add Page</button><br>
      <button id="nextPgBtn" class="btn btn-default edit">Next Page</button><br>
      <button id="prevPgBtn" class="btn btn-default edit">Prev Page</button><br>
      <form>
        <a id="delMapBtn" class="btn btn-default edit" href="/delMap/">Delete Map</a><br>
      </form>
      <button id="pubMapBtn" class="btn btn-default edit">Publish Map</button><br>
      <button id="saveMapBtn" class="btn btn-default edit">Save Map</button><br>

    <div id="uploadImgBtn">
      <form id="form_upload" action="/map/upload/" method="post" enctype="multipart/form-data">
	  <label class="control-label" for="upload">
	    Picture Upload
	  </label>
	  <input type="file" class="form-control" id="upload_input" name="upload">
	  <button id="upload-button" class="btn btn default edit"> Upload Picture</button>
      </form>
      </div>
      <br>
  </div>

  <br>

   <div class="col-md-1"></div>
   </<div>

     <div class="row">
     <div class="col-md-3"></div>

      <div class="col-md-3">
       <h2 class="messagediv">
        Page <span id="pgNum"></span>:  <span id="pgTitle"></span>

      </h2>
      <br>
      <p>Status: <span id="status"></span></p>
      <br>
	 </div>
	 <div class="col-md-3">
	    <div id="monitor">

      </div>
	 </<div>
	   <div class="col-md-6"></div>
    </div>




{% endblock %}


{% block js %}

    <script src="/static/editor.js"></script>
    <script src="/static/editorBtns.js"></script>
    <!--<script src="/static/require.js"></script>-->
    <!--<script src="/static/svg-pan-zoom.js"></script>-->
{% endblock %}
