{% extends "base.html" %}

{% block content %}

<h2 class="messagediv">
  How to use this site:
</h2>

<h3 class="messagediv">
  As a guest (not logged in):
  On the homepage, you will be able to click on a wide selection of published maps.  On each of the maps, you are able to select two nodes (the circles) to get the most optimal route.

<br>
<br>
  As a user (logged in):
  On the homepage, you are able to search for maps.  You are able to create your own maps.  To view your maps, you simply click on "My Maps."  To edit your maps, you click on "Edit."  There is also a search bar at the top of the page so you will be able to look for a map whenever you want.
</h3>


{% endblock %}
